.App{
}

.join_room{
  padding-left: 3%;
  padding-top: 7%;
  padding-right: 3%;
  display: block;
  height: 100vh;
  align-content: stretch;
  /* background-image: url("rainbowbubblestext.png"); */
  background-color:lightblue;

}

.room_container{
  width: 90%;
  height: 80%;
  border: 1px solid black;
}

#title{
  font-size: 5em;
}

#second{
  background-color: lightblue;
  border-radius:20px;
  padding-top: 20px;
  padding-bottom: 30px;
}
