/* .App{
  display: table;
  margin: auto;
}

.contentContainer {
  text-align: center;
  display: table-cell;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
} */

.GridSpacing {
  padding-top: 2%;
}

.App{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 100vh;
  text-align: center;
  align-content: space-evenly;
  /* background-image: url("rainbowbubblestext.png"); */
  background-color:lightblue;
}

.join_room{
  padding-left: 3%;
  padding-top: 7%;
  padding-right: 3%;
  display: block;
  height: 100vh;
  align-content: stretch;
  /* background-image: url("rainbowbubblestext.png"); */
  background-color:lightblue;

}

.room_container{
  width: 90%;
  height: 80%;
  border: 1px solid black;
}

#title{
  font-size: 5em;
}

#second{
  background-color: lightblue;
  border-radius:20px;
  padding-top: 20px;
  padding-bottom: 30px;
}
/* .contentContainer{
  width:100%;
  height:100vh;
} */

/* #first{
  background-color: lightblue;
}

#second{
  background-color: lightsteelblue;
} */
