<!DOCTYPE html>

<html>

	<head>
<!-- 		<link rel="stylesheet" type="text/css" href="/css/base.css"> -->
		<script src="./src/app.js"></script>

		<title>Quip Thinking</title>
	</head>

	<body>
		
		<h1>Quip Thinking</h1>

		<br><br>
		
		{{{ body }}}

	</body>

</html>