#instructions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(46, 138, 204);
    color: white;
    text-align: center;
}

#boxes{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.box{
    border: 3px solid black;
    padding: 20px;
    border-radius:25px;
    width: 48%;
}

#box1{
    background-color: rgb(10, 187, 111);
}

#box2{
    background-color: rgb(10, 187, 111);
}

@media screen and (min-width: 581px) and (max-width: 800px){
    #boxes{
        display: inline-block;
    }
    .box{
        width:100%;
    }
} 