.create {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 70px;
    padding-left: 10%;
    padding-right: 10%;
}
